.toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(163, 163, 163);
 }
  
 
  .toolbar-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
     
  }
  
 
  .toolbar-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  
 
  .toolbar button, .btn {
    width: 40px;
    height: 40px;
    margin: 8px;
    background-color: #f7f7f7;
    border: 1px solid #be06be;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
@media (max-width: 500px) {
    .toolbar {
      grid-template-columns: 1fr;
    }
  }


  .top-toolbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f0f0f0;
   
  }
  
  .bottom-toolbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
  }
  
  .canvas-zoom {
    display: flex;
    align-items: center;
  }