.App {
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px 16px;
  background-color: rgb(133, 133, 133);
  min-height: 100vh;
  height: 100%;
}

.canvas-main {
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  gap: 24px;
}
 
.canvas {
  background-color: whitesmoke;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}



.settings {
  background-color: whitesmoke;
}

/* Optional responsive version */
@media (max-width: 768px) {
  .canvas-main {
    grid-template-columns: 1fr; /* Stack vertically */
  }
}
