/* base.css or toolbar.css */
:root {
  --color-background: #ffffff;
  --color-surface: #f2f2f2;
  --color-text: #000000;
  --color-border: #cccccc;
  --color-primary: #4774a1;
  --color-accent: #f97171;
  --color-secondary: #8ad6cc;
}

[data-theme="dark"] {
  --color-background: #1f1f1f;
  --color-surface: #2c2c2c;
  --color-text: #ffffff;
  --color-border: #444444;
  --color-primary: #8ad6cc;
  --color-accent: #f99192;
  --color-secondary: #4774a1;
}
 

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  color: var(--color-text);
}

.canvas-container {
  background-color: var(--color-surface);
}
 